<section class="position-relative overflow-hidden">
    <img src="./assets/images/about-us/11.png" class="about-right-box-img" alt="">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 wow fadeInUp align-items-center">
                <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
                <div class=" text-left mt-5 ">
                    <a class="button button-icon" routerLink="/about-us"> <span class="btn-effect"> Get Started Project</span> </a>
                </div>
            </div>
            <div class="col-lg-6"> </div>
        </div>
    </div>
</section>