<!-- Customer -->
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12  wow fadeInUp  animated">
        <app-title-section [titleSectionProp]="titleSectionProp" ></app-title-section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 wow fadeInUp">
        <div class="owl-carousel client-logo owl-loaded owl-drag" data-dots="false" data-nav="false" data-items="6" data-items-laptop="4" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-autoplay="true" data-loop="true" data-margin="30">
          <div *ngFor="let list of List" class="item">
              <div class="clients-box hover-effct"> <img class="img-fluid client-img" src="./assets/images/partners/{{list.image1}}" alt="client-image" /> </div>
              <div class="clients-box hover-effct mt-4"> <img class="img-fluid client-img" src="./assets/images/partners/{{list.image2}}" alt="client-image" /> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
