<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<!-- START REVOLUTION SLIDER -->
<app-revolution-slider9></app-revolution-slider9>
<!-- END REVOLUTION SLIDER -->
<!-- MainContent -->
<div class="main-content">
    <app-about-us></app-about-us>
    <app-specializing></app-specializing>
    <app-specializing2></app-specializing2>
    <app-education></app-education>
    <app-experience></app-experience>
    <app-skills></app-skills>
    <app-case-studies></app-case-studies>
    <app-our-testimonial></app-our-testimonial>
</div>
<!-- Footer start -->
<app-footer-style1 [footerProp]="footerProp" [contactInfo]="contactInfo"></app-footer-style1>
<!-- Footer end -->
