<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<!-- START REVOLUTION SLIDER -->
<app-revolution-slider1></app-revolution-slider1>
<!-- END REVOLUTION SLIDER -->
<!-- MainContent -->
<div class="main-content">
  <!-- About Us -->
  <app-section-vertical-one></app-section-vertical-one>
  <!-- About Us  End-->
  <!-- How We Works -->
  <app-section-vertical-two></app-section-vertical-two>
  <!-- How We Works End -->
  <!-- How it Works -->
  <app-section-three></app-section-three>
  <!-- How it Works End -->
  <!-- Our Services -->
  <app-section-four-services></app-section-four-services>
  <!-- Our Services -->
  <!-- Customer -->
  <app-section-five-customer></app-section-five-customer>
  <!-- Customer End -->
  <!-- Project -->
  <app-section-six-projects></app-section-six-projects>
  <!-- Project End -->
  <!--  Service-->
  <app-section-seven-service></app-section-seven-service>
  <!--  Service End-->
  <!--  Blog-->
  <app-section-nine-blog></app-section-nine-blog>
  <!--  Blog End-->

  <!-- Client -->

  <!-- Client End-->
  <!-- Blog -->

  <!-- Blog End-->
</div>
<!-- MainContent End-->
<!-- Footer start -->
<app-footer [logoImg]="logoImage" [contactInfo]="contactInfo"></app-footer>
<!-- Footer end -->
