<section class="pt-0">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-5 col-md-5">
                <app-progress-bar-right-percentage [progressBarDetail]="List1" [progressBar1]="progressBar1"></app-progress-bar-right-percentage>
            </div>
            <div class="col-sm-12 col-lg-5 col-md-5 offset-md-2">
                <app-progress-bar-right-percentage [progressBarDetail]="List2" [progressBar1]="progressBar2"></app-progress-bar-right-percentage>
            </div>
        </div>
    </div>
</section>