<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<!-- START REVOLUTION SLIDER -->
<app-revolution-slider7></app-revolution-slider7>
<!-- END REVOLUTION SLIDER -->
<!-- MainContent -->
<div class="main-content">
    <app-about-us></app-about-us>
    <app-analysis-type></app-analysis-type>
    <app-how-it-work></app-how-it-work>
    <app-benefits></app-benefits>
    <app-pricing></app-pricing>
    <app-faq></app-faq>
    <app-our-testimonial></app-our-testimonial>
    <app-our-blog></app-our-blog>
    <app-contact-form></app-contact-form>
</div>
<!-- Footer start -->
<app-footer-style1 [footerProp]="footerProp" [contactInfo]="contactInfo"></app-footer-style1>
<!-- Footer end -->
