<section class="position-relative">
    <img src="./assets/images/about-us/06.png" class="about-box-img " alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"> </div>
            <div class="col-lg-6 wow fadeInUp align-items-center">
                <div class="title-box wow fadeInUp text-left">
                    <span class="title-design">About us</span>
                    <h2>What is Sentiment Analysis?</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                </div>
                <div class="text-left">
                    <app-check-list [lists]="checkList1"></app-check-list>
                </div>
                <div class=" text-left mt-5 ">
                    <a class="button button-icon" routerLink="/about-us"> <span class="btn-effect"> View Details</span> </a>
                </div>
            </div>
        </div>
    </div>
</section>