<section class="iq-bg-over">
  <div class="container">
    <div class="row row-fluid row-has-fill iq-how-it-works">
      <div class="iq-mb-30 fadeInUp wow col-sm-12 col-lg-5 col-md-12 align-items-center">
        <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
        <app-progress-bar-right-percentage [progressBarDetail]="progressBarDetail" [progressBar1]="progressBar1" ></app-progress-bar-right-percentage>
      </div>
      <div class="col-sm-12 offset-lg-1 col-lg-6 col-md-12">
        <div class="row">
          <div class="first-tec col-sm-6 col-lg-6">
            <div class="tec_box">
              <div class="tec_icons clerfix">
                <div class="img_icon_one">
                  <div class="tec_icon"><img src="./assets/images/services/services-small-1.png" alt="tecbox"></div>
                </div>
                <div class="img_icon_two">
                  <div class="tec_icon"><img src="./assets/images/services/services-small-2.png" alt="tecbox"></div>
                </div>
              </div>
              <div class="img_icon_three">
                  <div class="tec_icon"><img src="./assets/images/services/services-small-3.png" alt="tecbox"></div>
              </div>
              <h5>Big Data Services</h5>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6">
            <div class="tec_box">
              <div class="tec_icons clerfix">
                <div class="img_icon_one">
                  <div class="tec_icon"><img src="./assets/images/services/services-small-1.png" alt="tecbox"></div>
                </div>
                <div class="img_icon_two">
                  <div class="tec_icon"><img src="./assets/images/services/services-small-2.png" alt="tecbox"></div>
                </div>
              </div>
              <div class="img_icon_three">
                  <div class="tec_icon"><img src="./assets/images/services/services-small-3.png" alt="tecbox"></div>
              </div>
              <h5>Business Intelligence</h5>
            </div>
            <div class="tec_box">
              <div class="tec_icons clerfix">
                <div class="img_icon_one">
                  <div class="tec_icon"><img src="./assets/images/services/services-small-1.png" alt="tecbox"></div>
                </div>
                <div class="img_icon_two">
                  <div class="tec_icon"><img src="./assets/images/services/services-small-2.png" alt="tecbox"></div>
                </div>
              </div>
              <div class="img_icon_three">
                  <div class="tec_icon"><img src="./assets/images/services/services-small-3.png" alt="tecbox"></div>
              </div>
              <h5>Data Visualization</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
