<section class="pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="false" data-items="6" data-items-laptop="4" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-autoplay="true" data-loop="true" data-margin="30" >
                    <div *ngFor="let lists of List" class="item">
                        <div class="clients-box">
                            <img class="img-fluid client-img" src="./assets/images/partners/{{ lists.img }}" alt="image0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>