<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<app-top-banner [data]="data"></app-top-banner>
<div class="main-content">
  <section class="pb-0">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 col-sm-12">
             <div class="iq-portfolio-image"> <img width="1260" height="954" src="./assets/images/about-us/01.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" > </div>
          </div>
          <div class="col-lg-6 col-sm-12 mt-4 mt-lg-0">
             <h3 class="mb-4">We work with you to address your most critical business priorities.</h3>
             <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.</p>
             <div class="portfolio-detail-box iq-rmb-45">
                <ul class="list-inline portfolio-detail mb-1">
                   <li class="list-inline-item"> <span class="lead">Client :</span> <span>xamin</span> </li>
                   <li class="list-inline-item"> <span class="lead">Category :</span> <span>Video</span> </li>
                   <li class="list-inline-item"> <span class="lead">Website :</span> <span><a href="xamin@gmail.com" target="_blank">xamin@gmail.com</a> </span> </li>
                   <li class="list-inline-item"> <span class="lead">Date :</span> <span>29/08/2019</span> </li>
                </ul>
             </div>
          </div>
       </div>
       <div class="row ">
          <div class="col-sm-12">
             <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                <div class="Consulting-img  text-left"><img src="./assets/images/about-us/01.png" alt="slider"></div>
                <div class="Consulting-img  text-left"><img src="./assets/images/about-us/02.png" alt="slider"></div>
                <div class="Consulting-img  text-left"><img src="./assets/images/about-us/03.png" alt="slider"></div>
                <div class="Consulting-img  text-left"><img src="./assets/images/about-us/05.png" alt="slider"></div>
                <div class="Consulting-img  text-left"><img src="./assets/images/about-us/01.png" alt="slider"></div>
                <div class="Consulting-img  text-left"><img src="./assets/images/about-us/02.png" alt="slider"></div>
                <div class="Consulting-img  text-left"><img src="./assets/images/about-us/03.png" alt="slider"></div>
             </div>
          </div>
          <div class="col-sm-12 mt-5">
             <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
          </div>
          <div class="col-sm-12 no-margin">
             <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.</p>
          </div>
       </div>
    </div>
 </section>
 <section>
    <div class="container">
       <div class="row row-fluid">
          <div class="fadeInUp col-sm-12 animated">
             <div class="title-box wow fadeInUp text-center">
                <span class="title-design">OUR PROJECTS</span>
                <h2>Recent Portfolio</h2>
             </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="false" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-autoplay="false" data-loop="true" data-margin="30">
               <app-portfolio-owl [List]="List"></app-portfolio-owl>
            </div>
          </div>
       </div>
    </div>
 </section>
</div>
<!-- Footer start -->
<app-footer [logoImg]="logoImage" [contactInfo]="contactInfo"></app-footer>
<!-- Footer end -->

