<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<app-top-banner [data]="data"></app-top-banner>
<div class="main-content">
  <app-about-two [titleSectionProp]="titleSectionProp" [List]="Lists"></app-about-two>
  <app-about-card [cardData]="cardData"></app-about-card>
  <app-history></app-history>
  <app-our-team></app-our-team>
</div>
<!-- Footer start -->
<app-footer [logoImg]="logoImage" [contactInfo]="contactInfo"></app-footer>
<!-- Footer end -->
