<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<!-- START REVOLUTION SLIDER -->
<app-revolution-slider5></app-revolution-slider5>
<!-- END REVOLUTION SLIDER -->
<!-- MainContent -->
<div class="main-content">
    <app-about-us></app-about-us>
    <app-our-client></app-our-client>
    <app-tips-trick></app-tips-trick>
    <app-our-counter></app-our-counter>
    <app-features></app-features>
    <app-solutions></app-solutions>
    <app-partner></app-partner>
    <app-our-blog></app-our-blog>
</div>
<!-- Footer start -->
<app-footer-style1 [footerProp]="footerProp" [contactInfo]="contactInfo"></app-footer-style1>
<!-- Footer end -->