<!-- Header component start-->
<app-header [logoImg]="logoImage" [headeClass]="headeClass" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<!-- START REVOLUTION SLIDER -->
   <app-revolution-slider2></app-revolution-slider2>
<!-- END REVOLUTION SLIDER -->
<!-- MainContent -->
<div class="main-content">
  <!-- Our Services -->
  <app-section-vertical-one></app-section-vertical-one>
  <!-- Our Services End-->
  <!-- About Us -->
  <app-about-us></app-about-us>
  <app-about-us2></app-about-us2>
  <!-- About Us End -->

  <!-- Service-->
  <app-service></app-service>
  <!-- Service End-->

  <!--  Video-->
  <app-video></app-video>
  <!--  Video End-->

  <!-- trusted-->
  <app-trusted-customer></app-trusted-customer>
  <!-- trusted End-->

  <!-- Testimonial-->
  <app-our-testimonial></app-our-testimonial>
  <!-- Testimonial End-->

  <!-- BLOG End-->
  <app-blog></app-blog>
  <!-- BLOG End-->

  <!--  Partner-->
  <app-our-partner></app-our-partner>
  <!--  Partner End-->

</div>
<!-- Footer start -->
<app-footer [logoImg]="footerLogoImage" [contactInfo]="contactInfo"></app-footer>
<!-- Footer end -->
