<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<!-- START REVOLUTION SLIDER -->
<app-revolution-slider10></app-revolution-slider10>
<!-- END REVOLUTION SLIDER -->
<!-- MainContent -->
<div class="main-content">
    <app-our-counter></app-our-counter>
    <app-analytics></app-analytics>
    <app-our-services></app-our-services>
    <app-visuals></app-visuals>
    <app-tips-tricks></app-tips-tricks>
    <app-data-dazzle></app-data-dazzle>
    <app-brands></app-brands>
    <app-our-blog></app-our-blog>
    <app-request-demo></app-request-demo>
</div>
<!-- Footer start -->
<app-footer-style1 [footerProp]="footerProp" [contactInfo]="contactInfo"></app-footer-style1>
<!-- Footer end -->
