<section class="pt-5">
    <div class="container">
        <div class="row">
            <div *ngFor="let list of List" class="col-md-3 col-sm-6">
                <div class="iq-timer style1 text-center">
                    <i aria-hidden="true" class="{{ list.icon }}"></i>
                    <div class="timer-details">
                        <span class="timer text-dark" [attr.data-to]="list.number" data-speed="5000">{{ list.number }}</span>
                        <i class="fa fa-plus text-dark" aria-hidden="true"></i>
                        <p class="text-dark"> {{ list.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>