<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12  text-center">
          <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="single_image align_left">
          <div class="box_border_grey"> <img src="./assets/images/about-us/01.png" class="single_image-img" alt="" width="550" height="360"> </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <app-card-one [List]="List"></app-card-one>
      </div>
    </div>
  </div>
</section>
