<section class="pt-0">
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-md-4 pr-3 pl-3 pl-lg-0">
                <div class="align-middle">
                    <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
                </div>
            </div>
            <div class="pl-lg-5 col-md-8 col-sm-12 ">
                <p>There are many variations of passages fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.The readable content of a page when looking Lorem Ipsum at its layout</p>
            </div>
        </div>
    </div>
</section>