<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<app-top-banner [data]="data"></app-top-banner>
<div class="main-content">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 sidebar-service-left">
                    <app-service-menu [activeMenu]="activeMenu"></app-service-menu>
                    <app-blog-slider [className]="className"></app-blog-slider>
                    <div class="widget get-file">
                        <h2 class="widget-title">Downloads</h2>
                        <a href="#">
                            <ul class="list-inline download-item">
                                <li class="list-inline-item"> <i class="fa fa-file-pdf-o"></i><span class="ml-3">PDF download</span> </li>
                            </ul>
                        </a>
                    </div>
                    <div class="widget get-file mb-5">
                        <a href="#">
                            <ul class="list-inline download-item">
                                <li class="list-inline-item"><i class="fa fa-file-pdf-o"></i><span class="ml-3">Company White Paper</span></li>
                            </ul>
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="row iq-pb-45">
                        <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="no-margin services-finance-img  text-center">
                                <img width="400" height="400" src="./assets/images/about-us/02.png" class="attachment-full" alt=""  />
                            </div>
                        </div>
                        <div class="mt-5 mt-lg-0 mt-md-0 col-sm-12 col-lg-6 col-md-6">
                            <h3>Our Services</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                            <div class="text-left">
                                <app-check-list [lists]="checkList1"></app-check-list>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-sm-12">
                          <div class="no-margin">
                             <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything.</p>
                          </div>
                       </div>
                    </div>
                    <div class="row iq-pb-45">
                       <div class="col-sm-12">
                          <div class="">
                             <canvas id="canvas" class="managed-analytics-chart" width="750" height="420"></canvas>
                          </div>
                          <ul id="js-legend" class="chart-legend"></ul>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Transition</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="text-left mb-2 mb-lg-0 mb-md-0 ">
                                        <app-check-list [lists]="checkList2"></app-check-list>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-left">
                                        <app-check-list [lists]="checkList3"></app-check-list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Footer start -->
<app-footer [logoImg]="logoImage" [contactInfo]="contactInfo"></app-footer>
<!-- Footer end -->
