<section class="iq-pb-55">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow fadeInUp align-items-center">
                <app-title-section [titleSectionProp]="titleSectionProp1"></app-title-section>

                <div class="text-left">
                    <app-check-list [lists]="checkList1"></app-check-list>
                </div>
                <div class=" text-left mt-5 ">
                    <a class="button button-icon" href="about-us.html"> <span class="btn-effect"> Read More</span> </a>
                </div>
            </div>
            <div class="col-lg-6  wow fadeInUp ">
                <img  src="./assets/images/about-us/13.png" class="attachment-full" alt="" sizes="100vw">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6  wow fadeInUp ">
                <img  src="./assets/images/about-us/13.png" class="attachment-full" alt="" sizes="100vw">
            </div>
            <div class="col-lg-6 wow fadeInUp align-items-center">
                <app-title-section [titleSectionProp]="titleSectionProp2"></app-title-section>
                <div class="text-left">
                    <app-check-list [lists]="checkList1"></app-check-list>
                </div>
                <div class=" text-left mt-5 ">
                    <a class="button button-icon" href="#"> <span class="btn-effect"> Read More</span> </a>
                </div>
            </div>

        </div>
    </div>
</section>