<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<!-- START REVOLUTION SLIDER -->
<app-revolution-slider11></app-revolution-slider11>
<!-- END REVOLUTION SLIDER -->
<!-- MainContent -->
<div class="main-content">
    <app-process></app-process>
    <app-about-us></app-about-us>
    <app-our-service></app-our-service>
    <app-our-project></app-our-project>
    <app-our-testimonial></app-our-testimonial>
    <app-our-blog></app-our-blog>
</div>
<!-- Footer start -->
<app-footer-style1 [footerProp]="footerProp" [contactInfo]="contactInfo"></app-footer-style1>
<!-- Footer end -->
