<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<!-- START REVOLUTION SLIDER -->
<app-revolution-slider4></app-revolution-slider4>
<!-- END REVOLUTION SLIDER -->
<!-- MainContent -->
<div class="main-content">
    <app-our-partner></app-our-partner>
    <app-about-us></app-about-us>
    <app-our-services></app-our-services>
    <app-our-counter></app-our-counter>
    <app-about-us1></app-about-us1>
    <app-our-testimonial></app-our-testimonial>
    <app-our-client></app-our-client>
    <app-our-blog></app-our-blog>
</div>
<!-- Footer start -->
<app-footer-style1 [footerProp]="footerProp" [contactInfo]="contactInfo"></app-footer-style1>
<!-- Footer end -->