<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<!-- START REVOLUTION SLIDER -->
<app-revolution-slider6></app-revolution-slider6>
<!-- END REVOLUTION SLIDER -->
<!-- MainContent -->
<div class="main-content">
    <app-counters></app-counters>
    <app-about-us></app-about-us>
    <app-our-service></app-our-service>
    <app-features></app-features>
    <app-our-services2></app-our-services2>
    <app-case-studies></app-case-studies>
    <app-partner></app-partner>
    <app-our-testimonial></app-our-testimonial>
    <app-our-blog></app-our-blog>
    <app-contact-form></app-contact-form>
</div>
<!-- Footer start -->
<app-footer-style1 [footerProp]="footerProp" [contactInfo]="contactInfo"></app-footer-style1>
<!-- Footer end -->
