<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<app-top-banner [data]="data"></app-top-banner>
<div class="main-content">
    <app-our-services></app-our-services>
    <app-section-two></app-section-two>
    <app-section-three></app-section-three>
    <app-our-testimonial></app-our-testimonial>
    <app-our-partner></app-our-partner>
</div>
<!-- Footer start -->
<app-footer [logoImg]="logoImage" [contactInfo]="contactInfo"></app-footer>
<!-- Footer end -->
