<section class="pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="xamin-left-img">
                    <img src="./assets/images/about-us/17.png" alt="" style="z-index: -1" width="774" height="818">
                </div>
                <div class="scroll-effect top blue ">
                    <div class="main-video">
                        <div class="video-img">
                            <div class="consult-video video-btn">
                                <div class="btn-waves">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div>
                                <a href="#" class="iq-video popup-youtube"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
                <div class="text-left column-2 mb-5">

                    <app-check-list [lists]="checklist"></app-check-list>
                </div>
                <div class=" text-left  "><a class="button button-icon" href="#"><span class="btn-effect"> Read More</span></a></div>
            </div>
        </div>
    </div>
</section>