<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<!-- START REVOLUTION SLIDER -->
<app-revolution-slider8></app-revolution-slider8>
<!-- END REVOLUTION SLIDER -->
<!-- MainContent -->
<div class="main-content">
    <app-our-partner></app-our-partner>
    <app-usage></app-usage>
    <app-features></app-features>
    <app-our-service></app-our-service>
    <app-how-we-work></app-how-we-work>
    <app-pricing></app-pricing>
    <app-our-testimonial></app-our-testimonial>
    <app-our-blog></app-our-blog>
</div>
<!-- Footer start -->
<app-footer-style1 [footerProp]="footerProp" [contactInfo]="contactInfo"></app-footer-style1>
<!-- Footer end -->