<section class="pt-0">
  <div class="container">
    <div class="row xamin-bg">
      <div class="col-sm-12">
        <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
      </div>
      <div *ngFor="let list of List" class="col-sm-12 mb-5">
        <div class="{{ list.class }}">
          <div class="xamin-history row row-eq-height align-items-center wow fadeInUp ">
            <div class="col-sm-4 col-lg-2 col-md-2">
                <img alt="" class="single_image-img attachment-full" height="360" width="550" src="{{ list.img }}" >
            </div>
            <div class="text-lg-center text-left col-sm-12 col-lg-2 col-md-3">
              <h4 class="pt-3 pb-1 pt-lg-0 pb-lg-0">{{ list.year }}</h4>
            </div>
            <div class="col-sm-12 col-lg-8 col-md-7">
              <p class="mb-0">{{ list.desc }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
